
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-down:before { content: '\e801'; } /* '' */
.icon-home-outline:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-login:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-list-add:before { content: '\e807'; } /* '' */
.icon-left-big:before { content: '\e808'; } /* '' */
.icon-right-big:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-fire:before { content: '\e80b'; } /* '' */
.icon-food:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-calendar:before { content: '\e80e'; } /* '' */
.icon-info-circled:before { content: '\e80f'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */