
@import url('https://fonts.googleapis.com/css?family=Nunito');

.error
	{
		background-color: #CC2B25;
		color: #fff;
		padding: 1em;
		margin: 0;
		text-align: center;
	}

.errorbusqueda
{
	background-color: #fff;
	padding: 1em;
	margin: 0;
	text-align: center;
	width: 100%;
}

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modalHeaderSuccess
{
	width: 100%;
	background-color: #25CC60;
	color: #fff;
	margin: 0;
	padding: 1em;

}

.modalcontent
{
	padding: 1em;
}

.modalHeaderFail
{
	width: 100%;
	background-color: #CC2B25;
	color: #fff;
	margin: 0;
	padding: 1em;
}


.contenidomodal {
    background-color: #fff;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
}


*
{
	box-sizing: border-box;
	font-family: sans-serif;
}

body
{
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
	background: #ffffff;
	background-image: url('403.JPG');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

body>div
{
	display: flex;
	align-content: center;
	justify-content: center;
}
body>div>a
{
	width: 80%;
	margin-top: 1em
}

body>div>a>img
{
	width: 100%;
}

/*Encabezado de la web*/

	body>header
	{
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	body>header>div
	{
		align-self: center;
		width: 100%;
		height: 400px;
		background: #ffffff;
		background-image: url('../img/hamburguesa.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	body>header>div>div
	{
		background-color: rgba(255,255,255, 0.8);
		overflow: hidden;
		height: 100px;
		display: flex;
		flex-direction: column;
	}
	body>header>div>div>img
	{
		width: 40%;
		align-self: center;
	}
	body>header>div>div
	{
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}

		body>header>div>div>div>h1
		{
			margin: 0;
			font-size: 20px;
			letter-spacing: .2em;
			padding: .3em;
			color: #292929;
			font-family: 'Nunito';
			display: none;
		}
		body>header>div>div>div>p
		{
			display: none;
			padding: .4em;
			margin: 0;
		}

	body>header>div>img
	{
		margin: 0;
	}
	body>header>nav
	{
		margin: 0;
	}
	body>header>nav>ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
		width:100%;
		background-color: #0A0F14;
		max-height: 4em;
		transition: max-height 1s;
	}
	body>header>nav>ul>li>label
	{
		display: inline-block;
		font-size: 2em;
		font-weight: bold;
		margin: 0;
		cursor:pointer;
		text-align: center;
		width: 90%;
		color: #fff;
		transform: rotate(-90deg);
		transition: transform 1s linear; 
	}

	body>section>h2
	{
		font-family: 'Nunito';
		color: #fff;

		font-size: 30px;
	}
	
	body>header>nav>ul>li>a>span:first-of-type
	{
		display: inline-block;
		margin-right: .5em;
	}

	#hamburguesa:checked + nav>ul
	{
		max-height: 30em;
	}
	#hamburguesa:checked + nav>ul>li>label
	{
		transform: rotate(0);
	}
	body>header>nav>ul>li
	{
		padding: 1em ;
	}
	body>header>nav>ul>li:hover
	{	
		background-color: #1A2533;
	}
		
		body>header>nav>ul>li>a
		{
			text-decoration: none;	
			color: #FFF;
			display: block;	
		}


/*Formularios especiales*/
.form-cabecera
{
	display:flex;
	flex-direction: column;
}
	.form-cabecera>form>h2
	{
		text-align: center;
	}
	.form-cabecera>form>label
	{
		display: block;
	}
	.form-cabecera>form>input
	{
		border: 1px solid #0A0F14;
		font-size: 16px;
		padding: .45em;
		margin-top: .5em;
		margin-left: .5em;
		margin-right: 0;
	}
	.form-cabecera>form>input:focus
		{
			background-color: #E5E5E5;
		}
	.form-cabecera>form>input:hover
		{
			background-color: #E5E5E5;
		}
	.form-cabecera>form>select
	{
		margin-top: .5em;
		border: 1px solid #0A0F14;
		background-color:#0A0F14;
		color: #fff; 
		font-size: 11px;
		text-transform: uppercase;
		padding: .9em;
	}
	.form-cabecera>form>input[type="submit"]
	{
		background-color: #007F2D;
		color: white;
		border: 0;
		padding: .5em;
		cursor: pointer;
		margin-left: .5em; 	
	}
	.form-cabecera>form>input[type="submit"]:hover
	{
		background-color: #25CC60;
	}
	.form-cabecera>form>select:first-of-type
	{
		margin-left: .5em;
	}

.form-newrecepee
{
	background-color: #fff;
	display:flex;
	flex-direction: column;
}

.form-newrecepee>h2
{
	background-color: #0A0F14;
	color: #fff;
	text-align: center;
	margin:0;
	padding: .5em;

}

	.form-newrecepee>form>label
	{
		width: 100%;
		background-color: #0A0F14;
		text-transform: uppercase;
		padding: .5em;
		text-align: center;
		color: #fff;
		display: block;
		font-weight: bold;
	}

	.form-newrecepee>form>input 
	{
		display: block;
	    width: 100%;
	    padding: .5em .9em;
	    text-align: center;
	    -webkit-appearance: none;
	    border: 0;
	    outline: 0;
	    font-size: 20px;
	}

	.form-newrecepee>form>input:focus
		{
			background-color: #E5E5E5;
		}
	.form-newrecepee>form>input:hover
		{
			background-color: #E5E5E5;
		}

	.form-newrecepee>form>textarea 
	{
		display: block;
	    width: 100%;
	    padding: .5em .9em;
	    -webkit-appearance: none;
	    border: 0;
	    outline: 0;
	    font-size: 20px;
	    border: solid 1px;
	}

	.form-cabecera>form>textarea:focus
		{
			background-color: #E5E5E5;
		}
	.form-cabecera>form>textarea:hover
		{
			background-color: #E5E5E5;
		}

	.form-newrecepee>form>select
	{
		border: 1px solid #0A0F14;
		background-color:#0A0F14;
		color: #fff; 
		font-size: 20px;
		text-transform: uppercase;
		padding: .8em;
		width: 100%;
	}

	.form-newrecepee>form>input[type = "submit"]
	{
		background-color: #007F2D;
		color: #fff;
		cursor: pointer;
	}
	.form-newrecepee>form>input[type = "submit"]:hover
	{
		background-color: #25CC60;
	}
	.form-newrecepee>form>img
	{
		display: inline;
		width: 50%;
		margin-left: 1em;
		padding: .5em;
		border-radius: 10%;
	}

	.form-newrecepee>form>button
	{
		color: #fff;
		background-color: #CC2B25;
		padding: .5em;
		border: 0;
		display: block;	
		margin-left: 1.5em;
		margin-bottom: .5em;
		cursor: pointer;
	}
	.form-newrecepee>form>button:hover
	{
		background-color: #7F100B;
	}


.form-buscar
{
	background-color: #fff;
}
	.form-buscar>form
	{
		align-content: center;
		display:flex;
		flex-direction: column;
		margin-bottom: .5em;
	}
	.form-buscar>form>h2
	{
		text-align: center;
		text-transform: uppercase;
	}
	.form-buscar>form>label
	{
		display: block;
		text-transform: uppercase;
		margin: .5em 0;
	}
	.form-buscar>form>input
	{
		border: 1px solid #0A0F14;
		font-size: 16px;
		padding: .45em;
	}
	.form-buscar>form>select
	{

		border: 1px solid #0A0F14;
		background-color:#0A0F14;
		color: #fff; 
		font-size: 11px;
		text-transform: uppercase;
		padding: .8em;
		display: block;
		margin: 1em 0;
	}
	.form-buscar>form>input:focus
		{
			background-color: #E5E5E5;
		}
	.form-buscar>form>input:hover
		{
			background-color: #E5E5E5;
		}
	.form-buscar>form>input[type="submit"]
	{
		background-color: #007F2D;
		color: white;
		border: 0;
		padding: .5em;
		cursor: pointer;
		margin-left: 0 	
	}
	.form-buscar>form>input[type="submit"]:hover
	{
		background-color: #25CC60;
	}

/*Contenido*/

body>section
{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	padding: .5em;
	
}
	body>section>h2
	{
		text-align: center;
	}
	
	body>section>article>h2
	{
		background-color: #0A0F14;
		color: #fff;
		text-align: center;
		margin: 0;
		padding: .5em;
	}

	body>section>article
	{
		margin-bottom: 1em;
		box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
		transition: 0.3s;
		border-radius: 5px;
		background-color: #fff;
	}

	body>section>article:hover
	{
		box-shadow: 0 0 16px 0 rgba(0,0,0,0.2);
	}

		body>section>article>div
		{
			align-self: center;
		}

		body>section>article>div>a
		{
			text-decoration: none;
		}

		body>section>article>div>a>h2
		{
			text-align: center;
			margin:0;
			padding: .5em 0;
			border-bottom: 1px solid;
			background-color: #0A0F14;
			color: #fff;
		}
		.content
		{
			padding: .5em;
			justify-content: space-around;
		}
		.content>img
		{
			width: 100%;
		}

		.content>ul
		{
			list-style: none;
			padding: 0;
			overflow: hidden;
			text-align: center;
			margin-bottom: 0;
		}

		.content>a
		{
			color:#000;
		}

			.content>ul>li
			{
				display: inline-block;
				font-size: 20px;
				margin-right: 1em;
			}

			.content>ul>li:first-of-type
			{
				color: #25CC60;
			}

			.content>ul>li:nth-of-type(2)
			{
				color: #CC2B25;
			}

			.content>ul>li:nth-of-type(3)
			{
				color: #5987CC;
			}

	body>section>article>form
	{
		width: 100%;
		align-content: center;
	}
		body>section>article>form>label
		{
			display: block;
		}
		body>section>article>form>input
		{
			display: block;
		}




/*Selector de tarjetas*/

	body>section>ul
	{
		display: flex;
		flex-direction: row;
		list-style: none;
		width: 100%;
		margin-bottom: 1em;
		padding: 0;
		justify-content: center;
		align-content: center;
	}

	body>section>ul>li
	{
		margin: .5em;
	}

	body>section>ul>li>button
	{
		font-size: 18px;
		border: 0;
		background-color: #007F2D;
		padding: .5em;
		text-decoration: none;
		color: #fff;
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.2);
	}

	body>section>ul>li>button:hover
	{
		background-color: #25CC60;
	}

	
	.form-basic
	{
		display:flexbox;
		flex-direction: column;
	}
	.form-basic>form
	{
		border-radius: 6px;
    	overflow: hidden;
    	background-color: #0A0F14;
    	max-width: 100%;
    	align-content: center;
    	justify-content: center;
    	align-self: center;
    	width: 80%;
    	margin: 1.5em 0 1.5em 0;
	}
		.form-basic>form>h2
		{
			text-align: center;
			color: #fff;
		}
		.form-basic>form>input
		{
			display: block;
	    	width: 100%;
	    	padding: 20px;
	    	-webkit-appearance: none;
	    	border: 0;
	    	outline: 0;
	    	font-size: 20px;
		}
		.form-basic>form>label
		{
			display: block;
	    	width: 100%;
	    	padding: 20px;
	    	-webkit-appearance: none;
	    	border: 0;
	    	outline: 0;
	    	font-size: 20px;
	    	background-color: #fff;
		}
		.form-basic>form>input:focus
		{
			background-color: #E5E5E5;
		}
		.form-basic>form>input:hover
		{
			background-color: #E5E5E5;
		}
		.form-basic>form>input[type="submit"]
		{
			background-color:#BBB8B8;
			cursor: pointer;
		}
		.form-basic>form>input[type="submit"]:hover
		{
			background-color: #757777;
		}



/*Ficha de las recetas*/
.fichareceta
{
	display: flex;
	flex-direction: column;
}
	.fichareceta>article>h2
	{
		background-color: #0A0F14;
		margin:0;
		padding: .5em;
		color: #fff;
		text-align: center;
	}
		.fichareceta>article>h2>a
		{
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
		}

	.fichareceta>article
	{
		justify-content: space-around;
		align-content: center;
		border-radius: 0;
		margin: 0;
		box-shadow: 0 0 0 0;
	}
	.fichareceta>article:hover
	{
		box-shadow: 0 0 0 0;
	}

	.fichareceta>article:nth-of-type(2)
	{
		display: flex;
		flex-direction: column;
	}

		.fichareceta>article:nth-of-type(2)>a
		{
			text-decoration: none;
		}

			.fichareceta>article:nth-of-type(2)>p, 
			.fichareceta>article:nth-of-type(2)>a
			{
				overflow: hidden;
				margin: 0 0 1em 0;
				width: 80%;
				align-self: center;
				background-color: #0A0F14;
				text-align: center;
				padding: .5em;
				color: #fff;
				box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
			}
			.fichareceta>article:nth-of-type(2)>a>h4
			{
				margin: 0;
			}
		.fichareceta>article:nth-of-type(3)>ul
		{
			text-align: center;
		}
			.fichareceta>article:nth-of-type(3)>ul>li
			{
				display: block;
				padding: .5em;
			}
		
		.fichareceta>article:nth-of-type(4)>p
		{
			padding: .5em;
		}

	.fichareceta>article>div
	{
		padding: .5em;
	}
	
	.fichareceta>article>ul
	{
		list-style: none;
		padding: 0;
		text-align: center;
	}
		.fichareceta>article>ul>li
		{
			display: inline;
			font-size: 20px;
		}
			.fichareceta>article>ul>li>img
			{
				width: 70%;
			}

			.fichareceta>article>ul>li>a
			{
				color: #0A0F14;
			}

			.fichareceta>article>ul>li>a:hover
			{
				color: #7F100B;
			}
	
			

			.fichareceta>article>ul:nth-of-type(2)>li:first-of-type
			{
				color: #25CC60;
			}

			.fichareceta>article>ul:nth-of-type(2)>li:nth-of-type(2)
			{
				color: #CC2B25;
			}

			.fichareceta>article>ul:nth-of-type(2)>li:nth-of-type(3)
			{
				color: #5987CC;
			}

			.fichareceta>article>ul:nth-of-type(2)
			{
				text-align: center;
			}
			.fichareceta>article>ul:nth-of-type(2)>li
			{
				margin: .5em;
			}

	.fichareceta>article>button
	{
		padding: .2em;
		margin: .2em;
		border: none;
		border-radius: 100%;
		color: #fff;
		font-size: 30px;
		cursor: pointer;
	}
	.fichareceta>article>button:first-of-type
	{
		background-color: #25CC60;
	}
	.fichareceta>article>button:nth-of-type(2)
	{
		background-color: #0A0F14;
	}



	/*Valoración de las recetas*/
	.valoracion
	{
		display: flex;
		align-content: center;
		justify-content: center;
		flex-direction: column;
	}
		.valoracion>div
		{
			margin-top: .5em;
		}
			.valoracion>div>button
			{
				border-radius: 50%;
				padding: .3em;
				margin: .2em;
				border: 0;
				font-size: 50px;
				color: #fff;
				background-color: #CC2B25;
				cursor: pointer;
			}
			.valoracion>div>button:first-child
			{
				background-color: #25CC60;
			}
			.valoracion>div>button:focus
			{
				box-shadow: 0 3px 3px 0 rgba(0, 0 ,0 ,0.5);
			}
	.valoracion>form
	{
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;
	}
		.valoracion>form>label
		{
			align-self: center;
		}
		.valoracion>form>input
		{
			align-self: center;
			margin: 1em 0;
			width: 80%;
			border: 1px solid #0A0F14;
			font-size: 16px;
		}

		.valoracion>form>input:focus
		{
			background-color: #E5E5E5;
		}
		.valoracion>form>input:hover
		{
			background-color: #E5E5E5;
		}
		.valoracion>form>textarea
		{
			align-self: center;
			margin-top: 1em;
			width: 80%;
			align-self: center;
			margin: 1em 0;
			width: 80%;
			border: 1px solid #0A0F14;
			font-size: 16px;
		}

		.valoracion>form>textarea:focus
		{
			background-color: #E5E5E5;
		}
		.valoracion>form>textarea:hover
		{
			background-color: #E5E5E5;
		}

		.valoracion>form>input[type= "submit"]
		{
			background-color: #007F2D;
			color: white;
			border: 0;
			padding: .5em;
			cursor: pointer;
			margin-left: 0 	
		}
		.valoracion>form>input[type= "submit"]:hover
		{
			background-color: #25CC60;
		}

	.comentarios
	{
		display: flex;
		flex-direction: column;
	}
	.comentarios>h2
	{
		background-color: #0A0F14;
		padding: .5em;
		color: #fff;
		width: 98%;
		align-self: center;
		text-align: center;
	}
	.comentarios>article
	{
		width:98%;
		padding-left: .5em;
	}



	/*Footer*/
	body>footer
	{
		background-color: #0A0F14;
		color: #fff;
		text-align: center;
		padding: 1em;
	}
		body>footer>a
		{
			background-color: #007F2D;
			margin: 1em;
			text-decoration: none;
			color: #fff;
			margin-left: .5em;	
		}
		body>footer>a:hover
		{
			background-color: #25CC60;
		}
		body>footer>strong>a
		{
			color: #fff;
			text-decoration: none; 
		}


	/*COSAS QUE METE JAVASCRIPT*/


@media all and (min-width: 406px)
{
	body>header>div>div
	{
		flex-direction: row;
	}
	body>header>div>div>img
	{
		width: 25%;
	}
	body>header>div>div>div>h1
	{
		font-size: 20px;
		display: inline-block;
		text-align: center;
	}
	body>header>div>div>div>p
	{
		display: block;
		text-align: center;
	}
}



@media all and (min-width: 640px)
{
	body>div>a
	{
		width: 50%;
	}
	body>section>h2
	{
		width: 100%;
	}

	.fichareceta
	{
		padding: .5em;
	}
		.fichareceta>article
		{
			width: 100%;
			margin: 0;
		}
	.form-buscar>form
	{
		width: 80%;
	}

	.fichareceta>article:nth-of-type(2)
	{
		flex-direction: row;
	}

		.fichareceta>article:nth-of-type(2)>p, 
		.fichareceta>article:nth-of-type(2)>a
		{
			margin-left: .5em;
			width: 25%;
		}

	body>header>nav>ul
	{
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	
	body>header>nav>ul>li:first-child
	{
		display: none;
	}

	body>header>nav>ul>li>a>span:nth-of-type(2)
	{
		display: none;
	}

	body>header>div>div>h1
		{
			font-size: 35px;
		}

	body>header>div>div>img
		{
			width: 20%;
		}



	body>section
	{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 0;
	}

	body>section>article
	{
		width: 300px;
		flex-grow: 1;
		margin: .5em;
	}
	
}

@media all and (min-width: 702px)
{
	body>div>a
	{
		width: 40%;
	}
	.form-cabecera
	{
		flex-direction: row;
		align-content: center;
		justify-content: center;
		padding: 1em;
	}
}

@media all and (min-width: 850px)
{
	body>header>nav>ul>li>a>span:nth-of-type(2)
	{
		display: inline-block;
	}

	body>header>div>div>div>h1
		{
			font-size: 30px;
		}

	body>header>div>div>img
		{
			width: 13%;
		}
	.form-newrecepee>form>img
	{
		width: 30%;
	}
}