*
{
	box-sizing: border-box;
	font-family: sans-serif;
}

canvas
{
	border: 1px solid #234;
}

h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
}
article
{
	margin: 0.5em;
	padding: 1em;
}
label
{
	display: inline-block;
	background-color: #46C9D5;
	padding: 1em;
	color: white;
  	text-align: center;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  	background: #fbc02d;
  	border: 0;
  	border-bottom: 2px solid #fbc02d;
  	cursor: pointer;
  	-webkit-box-shadow: inset 0 -2px #fbc02d;
  	box-shadow: inset 0 -2px #fbc02d;
}
button
{
	display: inline-block;
	background-color: #46C9D5;
	padding: 1.3em;
	color: white;
  	text-align: center;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  	background: #fbc02d;
  	border: 0;
  	border-bottom: 2px solid #fbc02d;
  	cursor: pointer;
  	-webkit-box-shadow: inset 0 -2px #fbc02d;
  	box-shadow: inset 0 -2px #fbc02d;
}
label:hover
{
	background: #f9a825;
  	border: 0;
  	border-bottom: 2px solid #f9a825;
  	cursor: pointer;
  	-webkit-box-shadow: inset 0 -2px #f9a825;
  	box-shadow: inset 0 -2px #f9a825;
}

select
{
	background-color: #46C9D5;
	padding: 1.2em;
	color: white;
  	text-align: center;
  	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  	background: #fbc02d;
  	border: 0;
  	border-bottom: 2px solid #fbc02d;
  	cursor: pointer;
  	-webkit-box-shadow: inset 0 -2px #fbc02d;
  	box-shadow: inset 0 -2px #fbc02d;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.modal-content>p
{
	padding: 1.5em;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.success
{
	background-color: #42EE78;
	color: white;
	width: 100%;
	padding: 1em;
	margin: 0;
	text-align: center;
}
.fail
{
	background-color: #E72E2E;
	color: white;
	width: 100%;
	padding: 1em;
	margin: 0;
	text-align: center;
}

.Itson
{
	text-align: center;
	background-color: #26E26F;
	color: white;
	width: 50%;
}

@media all and (min-width: 750px)
{
	section
	{
		flex-direction: row;
	}
}

